@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*Hero*/
.home {
  padding-top: 12rem;
  /* For medium screens and above */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.home-title {
  position: relative;
  color: rgba(202, 202, 202, 0.438); /* Cambia el último valor (0.8) para ajustar la opacidad */
  font-size: 4rem;
  text-align: center;
  margin-top: 100px;
  
}

.home-gradient-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #24262b, transparent);
}

/*Responsive hero*/
@media (max-width: 768px) {

  .home{
    padding-top: 3rem;
  }

  .home-title {
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
  }

}


/*Header*/
.navbar-container {
  width: 100%;
  background-color: #24262b;
  z-index: 10;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: auto;
  padding: 0 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  }

.nav-logo2 {
  width: 190px;
  height: 190px;
  object-fit: contain;
  
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  position: relative;
  display: block;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #747474;
}

@media (max-width: 768px) {
  .nav-content {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 20px;
    
  }

  .nav-logo2 {
    max-width: 190px;
    margin-left: 10px;
    margin-top: 15px;
  }

  .nav-link {
    font-size: 1.2rem;
  }
}


/*Footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body,
html {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-ul {
  list-style: none;
  padding: 0;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  overflow: hidden;
}

.footer-col {
  flex: 1;
  padding: 0 15px;
  max-width: 25%;
  min-width: 200px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer img.logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin: -35px 10px 10px 0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col.left-col ul li a:hover {
  color: #bbbbbb;
  padding-left: 0;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  line-height: 10px;
  border-radius: 80%;
  color: #ffffff;
  transition: transform 0.3s ease;
}

.footer-col .social-links a:hover {
  transform: scale(1.2);
}

.footer-col {
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  bottom: -10px;
  background-color: #fcff3b;
  height: 2px;
  box-sizing: border-box;
  width: 100px;
}


/* Responsive Footer */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .footer-col {
    max-width: 100%;
    margin-bottom: 40px;
    
  }

  .footer img.logo {
    width: 150px;
    height: 150px;  
    margin-left: 20px;
  }

  .footer-col .social-links a {
    height: 30px;
    width: 30px;
  }

  .footer-col h4::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fcff3b;
    height: 2px;
    box-sizing: border-box;
    width: 150px;
  }

  .social-links{
    margin-left: 10px;
  }
}